/*Navigatie css*/
nav{
    color: rgb(238, 234, 232);
    background-color: #ff4654;
    text-align: center;
    
    
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li{
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    background-color: #ff4654;
}
nav> ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav ul li ul li{
    display: none;
}
nav> ul >li:hover ul li{
    display: block;
}
nav ul  li{
    flex-basis: 20%;
}
nav ul li:hover {
    background-color: thistle;
}
/*algeneme styling*/
*
{
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
}
body
{
    overflow-x: hidden;
    transform-style: preserve-3d;
}
body , html
{
    height: 100%;
}
*::-webkit-scrollbar {
    display: none;
  }
/*video*/
.myVideo {
    position: fixed;
    background-attachment: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -20;
}

.videoh1
{
    font-size: 5rem;
}

.videocontent { 

    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    z-index: -19;
    background-attachment: fixed;
}

.content a
{
    background-color: rgb(255, 70, 84);
    color: rgb(16, 24, 35) ;

}

.test 
{
    
    width: 100%;
    position: fixed;
    bottom:0;
    background-color: rgb(238, 234, 232) ;
    background-attachment: fixed;
}
.mainindex
{
    display:flex;
    flex-direction: column;
}

/*sections*/
/*agents*/
.select
{
    background-color: rgb(255, 70, 84);
}
.character
{
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.select
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    height: 100vh;
}

.agentcontent
{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    color: rgb(238, 234, 232);
    z-index:-1;
}

.agenttitle
{
    text-align: center;
    font-size: 4rem;
}
/*image overlay*/
.content_img
{
    position: relative;
    width: 200px;
    height: 200px;
}
   
   
.content_img div
{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
   
.content_img:hover
{
    cursor: pointer;
}
   
.content_img:hover div
{
    visibility: visible;
    opacity: 0.7; 
}


/*sidebar*/
.sidebar
{
    display: flex;
    justify-content: space-between;
    float: right;
    min-width: 300px;
    max-width: 15%; 
    background-color: rgb(16, 24, 35);
    
    
}
.sidebar__content
{
    color: rgb(238, 234, 232);
}

.sidebar__content h1
{
    font-size: 2em;
    text-align: center;
}

.ability
{
    display: inline-block;
}

/*paralaxagents*/
.paralax
{
    background-image: url('../img/bg.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    
}
/*agent page*/
.agentsection
{
    max-width: 83%;
}


