/*Navigatie css*/
nav{
    color: rgb(238, 234, 232);
    background-color: #ff4654;
    text-align: center;
    
    
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li{
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    background-color: #ff4654;
}
nav> ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav ul li ul li{
    display: none;
}
nav> ul >li:hover ul li{
    display: block;
}
nav ul  li{
    flex-basis: 20%;
}
nav ul li:hover {
    background-color: thistle;
}
/*algeneme styling*/
*
{
    margin: 0;
    padding: 0;
}
/*video*/
/*.section 
{
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    background-color: white;
    z-index: 2;
}

.sleep-video 
{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: -20;
}*/

/*sections*/
.sectionone
{
    background-image: url("img\index2.jpg");
    background-attachment: fixed;
}

