/*Navigatie css*/
nav{
    color: rgb(238, 234, 232);
    background-color: #ff4654;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li{
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    background-color: #ff4654;
}
nav> ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav ul li ul li{
    display: none;
}
nav> ul >li:hover ul li{
    display: block;
}
nav ul  li{
    flex-basis: 20%;
}
nav ul li:hover {
    background-color: thistle;
}
/*algeneme styling*/
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
/*video*/
.video
{
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.videotitle
{
    text-align: center;
    font-size: 10rem;
    color:rgb(16, 24, 35);
    background-color: rgb(238, 234, 232 ,0.2);
}