/* dit wordt gebruikt om het dropdown menu van de paginas te realiseren*/

.dropdown
{
    position: relative;
    display: inline-block;
}

.content
{
    display: none;
    position: relative;;
    z-index: 1;
}

.content-a
{
    display:block;

}

.content a:hover
{
    
    background-color: rgb(96, 30, 43);
}

.dropdown:hover .content
{
    display:block;
    background-color: rgb(16, 24, 35);
}


li
{
    float:left;
    

}


li a
{
    display:block;
    color: rgb(238, 234, 232);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover
{
    background-color: rgb(96, 30, 43);
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    background-image: linear-gradient(#ff4654 , #973441 , #601e2b);
}

header
{
    color: rgb(238, 234, 232);
    background-color: rgb(16, 24, 35);
}

nav
{
    color: rgb(238, 234, 232);
    background-color: rgb(16, 24, 35);
}

.titlelink
{
    color:  rgb(238, 234, 232) ;
    text-decoration: none;
}

