


/* navigatie css*/


.dropdown
{
    position: relative;
    display: inline-block;
}

.content
{
    display: none;
    position: relative;;
    z-index: 1;
}

.content-a
{
    display:block;

}

.content a:hover
{
    
    background-color: rgb(96, 30, 43);
}

.dropdown:hover .content
{
    display:block;
    background-color: rgb(16, 24, 35);
}


li
{
    float:left;
    

}


li a
{   
    cursor: pointer;
    display:block;
    color: rgb(238, 234, 232);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover
{
    background-color: rgb(96, 30, 43);
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* einde navigatie css*/
/* begin algemene style*/


html
{
    height: 100%;
}

body
{
    background-size: 100%;
    height: 100%;
    background-image: linear-gradient(#ff4654 , #973441 , #601e2b);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header
{
    color: rgb(238, 234, 232);
    background-color: rgb(16, 24, 35);
    font-size: 25px;
    text-align: left;
    position: relative;
    bottom: 100px; 
}

nav
{
    color: rgb(238, 234, 232);
    background-color: rgb(16, 24, 35);
}
header
{
    position: sticky;
}

main
{
    color: rgb(238, 234, 232);
}

form
{
    text-align:center;
}

textarea
{
    width: 25%;
    height: 25vh;
    
}

form label
{
    font-size: 2em;
}

/* einde algemene style*/
/* begin class style*/
.titlelink
{
    display: block;
    color:  rgb(238, 234, 232) ;
    text-decoration: none;
}
.formbeschr
{
    font-size: 10px;
}
.beschrijving
{
    font-size: 18px;
}

.formbeschr
{
    text-align: center;
}

.formtitel
{
    font-size: 8em;
}
.sidebar
{
    display: flex;
    justify-content: space-between;
    float: right;
    min-width: 300px;
    background-color: rgb(16, 24, 35) ;
    max-width: 15em;
    
}

.footer
{
    position: fixed;
    width: 100%;
    height: 3em;
    bottom: 0%;
    background-color: rgb(16, 24, 35) ;
}

.footer_content
{
    color: rgb(238, 234, 232);
}

.karaktertitel
{
    text-align: center;
    display:inline-block;
}

.lijn
{
    color:rgb(238, 234, 232);
}

.guide
{
    font-size: 1.17em;
}
/*einde class style*/

