/* dit wordt gebruikt om het dropdown menu van de paginas te realiseren*/
.dropbutton
{
    background-color: darkblue;
    color: white;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.content
{
    display: none;
    position:absolute;
}

.content-a
{
    display:block;

}

.content a:hover
{
    background-color: darkblue;
}

.dropdown:hover .content
{
    display:block;
}

.dropdown:hover .dropbutton 
{
    
}

li
{
    float:left;
}

li-a
{
    display:block;
    padding: 0.2%;
}

ul
{
    padding: 1%;
}
