body 
{
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 2.4vw 50vw 10vw;
    grid-gap: 1em;
}
*::-webkit-scrollbar {
    display: none;
  }
  header ,footer 
  {
    grid-column: 1 / span 5;
  }


  main
  {
      grid-column: 1 / span 3;
  }

  aside
  {
      grid-column: span 2;
  }
  
  /* Demo Specific Styles */
  body {
    margin: 0;
    padding: 1 em 0;
  }
  
header, main,aside,footer 
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
 }


/*styling nav*/

nav{
    width: 100%;
    color: rgb(238, 234, 232);
    background-color: #ff4654;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li{
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    background-color: #ff4654;
}
nav> ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav ul li ul li{
    display: none;
}
nav> ul >li:hover ul li{
    display: block;
}
nav ul  li{
    flex-basis: 20%;
}
nav ul li:hover {
    background-color: thistle;
}
/*footer*/
footer
{
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background-color:rgb(16, 24, 35);
    color:rgb(238, 234, 232);
}

footer ul
{
    list-style-type: none;
}

footer .information
{
    display: flex;
    justify-content: space-evenly;
}
footer a
{
    color:rgb(222, 214, 211);
}
/*ability*/
.abilitylist
{
    min-width: 75%;
    max-width: 100%;
    background-color: #000;
    
}

.abilitylist li
{
    display: inline-flex;
}

.abilitytekst
{
    display: none;
    border:1px solid #f1f1f1;
    color:#f1f1f1 ;
}

.ability
{
    flex-basis: 20%;
}

.ability img:hover + .abilitytekst
{
    display: block;
}

.ability
{
    display: block;
}
/*sidebar*/
.sidebar
{
    background-color: rgb(16, 24, 35);
}
.sidebar__content
{
    color: rgb(238, 234, 232);
}

.sidebar__content h1
{
    font-size: 2em;
    text-align: center;
}
/*Responsive*/
@media only screen and (max-width: 480px) 
{
    /*small devices smartphone*/
  
    main,
    aside {
      grid-column: 1 / span 5;
    }
    
    body
    {
        grid-template-rows: 2.4vw 80vw 120vw 50vw;
    }

    aside
    {
        text-align: center;
    }

    .sidebar__content
    {
        font-size: 12px;

    }
    
}

@media only screen and (max-width: 1024px)
{
    main,
    aside {
      grid-column: 1 / span 5;
    }
    body
    {
        grid-template-rows: 2.4vw 50vw 60vw 15vw;
    }

    aside
    {
        text-align-last: center;
    }
}